## What are sets

* Unordered collection of items, cannot able to index
* Mutable 
* Contains only unique items
* Can be used to perform mathematical operations like union, intersection,difference ...etc

In [6]:
s = {}

In [7]:
s = {12.3,45,5,5,5,5,7,8}

In [8]:
s

{5, 7, 8, 12.3, 45}

In [9]:
s = set([1,2,3,333,32,3])
s

{1, 2, 3, 32, 333}

In [13]:
## cannot able to access element as in list / tuples

In [14]:
# add element to a set
s.add(9)
s

{1, 2, 3, 6, 9, 12, 15, 18, 32, 333}

In [15]:
# adding multiple elements to a list
s.update([3,6,9,12, 15,18])
s

{1, 2, 3, 6, 9, 12, 15, 18, 32, 333}

In [18]:
s.update(['q','e'], ('a','b','c'), {'d'})

In [19]:
s

{1, 12, 15, 18, 2, 3, 32, 333, 6, 9, 'a', 'b', 'c', 'd', 'e', 'q'}

## removing elements from set
- set_name.discard() :- if value is not present pass
- set_name.remove() :- if values is not present returns key error
- set_name.pop() removes random element
- set_name.clear() :- removes all elements from set

In [38]:
s.discard('a')
s

{12, 15, 18, 3, 333, 6, 9, 'b', 'c', 'd', 'e', 'q'}

In [39]:
s.discard(1)

In [40]:
s

{12, 15, 18, 3, 333, 6, 9, 'b', 'c', 'd', 'e', 'q'}

In [41]:
s.pop()

3

In [42]:
s

{12, 15, 18, 333, 6, 9, 'b', 'c', 'd', 'e', 'q'}

In [43]:
s.pop()
s

{12, 15, 18, 333, 9, 'b', 'c', 'd', 'e', 'q'}

In [44]:
s.clear()
s

set()

## Set Operations
* union
* intersection
* set difference
* symmetric difference

subset
frozenset

In [45]:
A = {'a','b','c','d','e','f'}
B = {'e','f','g','h','i'}

In [46]:
A|B

{'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i'}

In [47]:
A&B

{'e', 'f'}

In [48]:
A-B

{'a', 'b', 'c', 'd'}

In [49]:
A.union(B)

{'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i'}

In [50]:
A.intersection(B)

{'e', 'f'}

In [51]:
A.difference(B)

{'a', 'b', 'c', 'd'}

In [52]:
A^B

{'a', 'b', 'c', 'd', 'g', 'h', 'i'}

In [53]:
A.symmetric_difference(B)

{'a', 'b', 'c', 'd', 'g', 'h', 'i'}

In [56]:
A = {1,2,3,4}
B = {1,2}
A.issubset(B)

False

In [57]:
B.issubset(A)

True

## Frozenset
-  once assigned cannot able changed
-  cannot be indexed

In [63]:
a = frozenset([1,2,3,4])
b = frozenset([3,4,5,6])

In [64]:
a

frozenset({1, 2, 3, 4})