## What are Tuples

* Similar to list, but these are immutable
* Immutable means after inserting/ initializing element in the tuple. you cannot change the values
* Syntax : tuple_name = ()

In [6]:
# empty
t = ()

# integers
t = (1, 2, 3)

# mixed datatypes
t = (1,3,4, "raju", "sharma", 0.56)

# nested tuple
t = (1,3,4, (1,2,3,4), [8,9,10])

In [7]:
t = ('678')
type(t)

str

In [8]:
t = ('678',)
type(t)

tuple

In [14]:
t = '678','67',(1,2,3,4)
type(t)

tuple

## Accessing the elements in tuple

In [15]:
t[0]

'678'

In [16]:
t[-1]

(1, 2, 3, 4)

In [17]:
t[2]

(1, 2, 3, 4)

In [18]:
t[2][2]

3

## Slicing

In [20]:
t = (1,3,4,5,67)

In [21]:
t[:3]

(1, 3, 4)

In [22]:
t[:-2]

(1, 3, 4)

In [23]:
t = (1,2,3,4,[6,7,8])
t[4][1] = 9
t[4][2] = 12

In [24]:
t

(1, 2, 3, 4, [6, 9, 12])

In [25]:
# concatening tuples

t = (1,2,3)+(3,6,9)
t

(1, 2, 3, 3, 6, 9)

In [28]:
t = ("shrada",)*3
type(t)

tuple

In [29]:
t

('shrada', 'shrada', 'shrada')

In [30]:
## deleting the tuples

del t

#### you cannot able to delete induvidual elements in tuple, because tuples are immutable

## getting frequencty of element in a tuple

In [32]:
t = (1,2,3,4,1,1,1,1,4)

In [33]:
t.count(1)

5

In [34]:
t.count(0)

0

In [35]:
t.count(4)

2

## tuple index

In [36]:
t

(1, 2, 3, 4, 1, 1, 1, 1, 4)

In [40]:
t.index(4) 
# 4 exists in index 3 and index 8, 
# index(element) function returns the first occurrence of element in the tuple

3

## Tuple MemberShip

In [43]:
print (9 not in t)
# in 
# not in, keywords

True

In [44]:
len(t)

9

In [45]:
sorted(t)

[1, 1, 1, 1, 1, 2, 3, 4, 4]

In [46]:
max(t)

4

In [47]:
min(t)

1

In [48]:
sum(t)

18